<%- include("partials/header") %>

<div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Musixon</h1>
      <hr>
    </div>
</div>

<%- include("partials/footer") %>