.songDetailsContainer{
    z-index: 1;
    width: 85%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songDetailsContainer .song-det-box{
    width: 420px;
    margin:auto;
    height: 100vh;
    background: black;
}

.songDetailsContainer .song-det-box .ds-backend-msg p{ 
    color: white;
    position: absolute;
    right: 0px;
    font-size: 18px;
    font-family:cursive;
    background: black;
    height: 35px;
    padding: 5px;
    border-bottom: 3px solid #2c65d6; 
    margin-right: 5px;
}

.songDetailsContainer .song-det-box .ds-backend-msg p i{
    top: 2px;
    position: relative;
    font-size: 18px;
    color: #fb2525;
    cursor: pointer;
}

.songDetailsContainer .song-det-box .ds-backend-msg p i:hover{
    color: #2c65d6;
}

.songDetailsContainer .song-det-box .img-top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    flex-direction: column;
}

.songDetailsContainer .song-det-box .img-top img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.songDetailsContainer .song-det-box .img-top .songName{
    color: white;
    margin-top: 5px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 400px;
    height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    font-family: cursive;
}

.songDetailsContainer .song-det-box .img-top .dim{
    margin-top: 0px !important;
    color: rgb(118,127,130);
}

.songDetailsContainer .song-det-box .contentSongSec{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-left: 112px;
    max-height: 150px;
    min-height: 100px;
    margin-bottom: 7px;
}

.songDetailsContainer .song-det-box .contentSongSec .add-list{
    display: flex;
    margin-top:7px;
}

.songDetailsContainer .song-det-box .contentSongSec .add-list #select-playlist{
    margin-left: 7px;
    appearance: none;
    font-size: 14px;
	padding: 5px;
	background-color: #fb2525;
	color: white;
	border: none;
	font-family: inherit;
	outline: none;
    text-align: center;
}

.songDetailsContainer .song-det-box .contentSongSec .sec-logo{
    color: white;
    font-size: 20px;
}

.songDetailsContainer .song-det-box .contentSongSec .sec-head{
    color: #fff;
    margin-left: 16px;
    font-size: 18px;
    font-family:cursive;
    font-weight: 300;
}

.songDetailsContainer .song-det-box .contentSongSec .sec-head:hover{
    cursor: pointer;
    color: rgba(118,127,130);
}

.songDetailsContainer .song-det-box .lyrics{
    border-top:  1px solid rgba(255,255,255,0.2);
    height: 270px;
    margin-top: 7px;
    overflow-y: scroll;
}

.songDetailsContainer .song-det-box .lyrics .lyrics-section{
    position: relative;
    top: 26px;
}

.songDetailsContainer .song-det-box .lyrics .lyrics-para{
    color: rgb(118,127,130);
    margin-left: 12px;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    overflow-x: scroll;
} 